export DOCKER_HOST_IP=${DOCKER_HOST_IP:-127.0.0.1}
export NODE_ENV=development
export COMMITHASH="hash"
export BUILDTIME="2022"

export DB_HOST=${DOCKER_HOST_IP}
export DB_PORT=5432
export DB_USER=galoy-price-usr
export DB_PWD=galoy-price-pwd
export DB_DB=galoy-price
export DB_POOL_MIN=1
export DB_POOL_MAX=5
export DB_DEBUG=false
