version: "3.9"

services:
  postgres:
    container_name: postgres
    image: postgres:14.1
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: galoy-price-usr
      POSTGRES_PASSWORD: galoy-price-pwd
      POSTGRES_DB: galoy-price

  otel-agent:
    image: otel/opentelemetry-collector-contrib:0.85.0
    command: ["--config=/etc/otel-agent-config.yaml"]
    environment:
      - HONEYCOMB_DATASET=${HONEYCOMB_DATASET}
      - HONEYCOMB_API_KEY=${HONEYCOMB_API_KEY}
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/otel-agent-config.yaml:/etc/otel-agent-config.yaml
    ports:
      - "4318:4318" # otlp http receiver
